<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ssm.promotion.core.dao.GameRoleDao">
    <resultMap type="GameRole" id="GameRoleResult">
        <result property="id" column="id"/>
        <result property="accountId" column="accountId"/>
        <result property="roleId" column="roleId"/>
        <result property="channelId" column="channelId"/>
        <result property="channelUid" column="channelUid"/>
        <result property="gameId" column="gameId"/>
        <result property="serverId" column="serverId"/>
        <result property="createTime" column="createTime"/>
        <result property="lastLoginTime" column="lastLoginTime"/>
        <result property="name" column="name"/>
        <result property="balance" column="balance"/>
        <result property="param" column="param"/>
    </resultMap>
    <sql id="select_gamerole_column">
        select id,
               accountId,
               roleId,
               channelId,
               channelUid,
               gameId,
               serverId,
               createTime,
               lastLoginTime,
               name,
               balance,
               param
        FROM zy_role
    </sql>
    <insert id="create" parameterType="GameRole">
        insert into
        zy_role(accountId,roleId,channelId,channelUid,gameId,serverId,createTime,lastLoginTime,name,balance,param)
        values(#{accountId},#{roleId},#{channelId},#{channelUid},#{gameId},#{serverId},#{createTime},#{lastLoginTime},#{name},#{balance},#{param})
    </insert>
    <update id="updateGameRole" parameterType="map">
        update zy_role
        <set>
            <if test="lastLoginTime!=null and lastLoginTime!='' ">
                lastLoginTime=#{lastLoginTime},
            </if>
            <if test="name!=null and name!=''  ">
                name=#{name},
            </if>
            <if test="balance!=null and balance!=''  ">
                balance=#{balance},
            </if>
            <if test="param!=null and param!=''  ">
                param=#{param},
            </if>
        </set>
        where
        channelId=#{roleId} and
        channelId=#{channelId} and
        gameId=#{gameId} and
        serverId=#{serverId}
    </update>

    <select id="getLastLoginTime" parameterType="Map" resultType="string">
        select lastLoginTime from zy_role
        where
        channelId=#{roleId} and
        channelId=#{channelId} and
        gameId=#{gameId} and
        serverId=#{serverId}
    </select>
    <select id="findGamerole" parameterType="map" resultMap="GameRoleResult">
        <include refid="select_gamerole_column"/>
        <where>
            <if test="accountId!=null and accountId!='' ">
                accountId=#{accountId}
            </if>
            <if test="roleId!=null and roleId!=''  ">
                and roleId=#{roleId}
            </if>
            <if test="channelId!=null and channelId!=''  ">
                and param=#{channelId}
            </if>
            <if test="serverId!=null and serverId!=''  ">
                and serverId=#{serverId}
            </if>
            <if test="channelUid!=null and channelUid!=''  ">
                and channelUid=#{channelUid}
            </if>
        </where>
    </select>
</mapper> 