<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"
        "http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">
<mapper namespace="com.ssm.promotion.core.dao.PayRecordDao">
    <resultMap type="PayRecord" id="payRecordResult">
        <result property="id" column="id"/>
        <result property="playerId" column="playerId"/>
        <result property="payAccount" column="payAccount"/>
        <result property="gameId" column="gameId"/>
        <result property="amount" column="amount"/>
        <result property="goodsId" column="goodsId"/>
        <result property="goodsName" column="goodsName"/>
        <result property="payCode" column="payCode"/>
        <result property="payTradeCode" column="payTradeCode"/>
        <result property="state" column="state"/>
        <result property="createTime" column="createTime"/>
        <result property="goodsPrice" column="goodsPrice"/>
        <result property="payMoney" column="payMoney"/>
        <result property="changeManager" column="changeManager"/>
        <result property="changeTime" column="changeTime"/>
        <result property="changeReason" column="changeReason"/>
        <result property="spName" column="spName"/>
        <result property="playerName" column="playerName"/>
    </resultMap>

    <sql id="select_payRecord_column">
        SELECT id,
               playerId,
               payAccount,
               gameId,
               amount,
               goodsId,
               goodsName,
               payCode,
               payTradeCode,
               state,
               createTime,
               goodsPrice,
               payMoney,
               changeManager,
               changeTime,
               changeReason,
               orderCode,
               gameMoney,
               diamondNum,
               rateMax
        FROM zy_pay_record
    </sql>

    <select id="getPayOrderList" parameterType="map" resultMap="payRecordResult">
        <include refid="select_payRecord_column"/>
        <where>
            <if test="id !=null and id != ''">
                AND payTradeCode = #{id}
            </if>
            <if test="playerId!=null and playerId!='' ">
                AND playerId = #{playerId}
            </if>
            <if test="gameId!=null and gameId!='' ">
                AND gameId = #{gameId}
            </if>
            <if test="payCode!=null and payCode!='' ">
                AND payCode = #{payCode}
            </if>
            <if test="state!=null and state!='' ">
                AND state = #{state}
            </if>
            <if test="startTime!=null and startTime!=''">
                AND createTime &gt;= #{startTime}
            </if>
            <if test="endTime!=null and endTime!=''">
                AND createTime &lt;= #{endTime}
            </if>
            <!--            <if test="spId != null">-->
            <!--                AND spId in-->
            <!--                <foreach collection="spId" index="index" item="item" open="(" separator="," close=")">-->
            <!--                    #{item}-->
            <!--                </foreach>-->
            <!--            </if>-->
        </where>
        ORDER BY createTime DESC
        <if test="start!=null and size!=null">
            limit #{start},#{size}
        </if>
    </select>
    <!--   与 selectServers where 条件一致-->
    <select id="getTotalServers" parameterType="Map" resultType="Long">
        select count(*) from zy_pay_record
        <where>
            <if test="id !=null and id != ''">
                AND payTradeCode = #{id}
            </if>
            <if test="playerId!=null and playerId!='' ">
                AND playerId = #{playerId}
            </if>
            <if test="payCode!=null and payCode!='' ">
                AND payCode = #{payCode}
            </if>
            <if test="state!=null and state!='' ">
                AND state = #{state}
            </if>
            <if test="startTime!=null and startTime!=''">
                AND createTime &gt;= #{startTime}
            </if>
            <if test="endTime!=null and endTime!=''">
                AND createTime &lt;= #{endTime}
            </if>
            <!--            <if test="spId != null">-->
            <!--                AND spId in-->
            <!--                <foreach collection="spId" index="index" item="item" open="(" separator="," close=")">-->
            <!--                    #{item}-->
            <!--                </foreach>-->
            <!--            </if>-->
        </where>
    </select>
    <!--

        <select id="getDataSum" parameterType="map" resultType="int">
            SELECT COUNT(*)
            FROM pay_record p
            LEFT JOIN asail.`user` u
            ON u.id = playerId
            LEFT JOIN asail.sp s
            ON s.id = u.spId
            <where>
                payCode !='256' and payCode != 'iPhoneTest'
                <if test="id!=null">
                    id = #{id}
                </if>
                <if test="playerId!=null and playerId!='' ">
                    AND playerId = #{playerId}
                </if>
                <if test="payCode!=null and payCode!='' ">
                    AND payCode = #{payCode}
                </if>
                <if test="state!=null and state!='' ">
                    AND state = #{state}
                </if>
                <if test="startTime!=null and startTime!=''">
                    AND createTime &gt;= #{startTime}
                </if>
                <if test="endTime!=null and endTime!=''">
                    AND createTime &lt;= #{endTime}
                </if>
                &lt;!&ndash; <if test="spId != null">
                    AND u.spId = #{spId}
                </if> &ndash;&gt;
                <if test="spId != null">
                    AND u.spId in
                    <foreach collection="spId" index="index" item="item" open="(" separator="," close=")">
                        #{item}
                    </foreach>
                </if>
            </where>
        </select>

        <select id="getSumPayMoney" resultType="int" parameterType="map">
            SELECT COALESCE(SUM(payMoney),0)
            FROM pay_record p
            LEFT JOIN asail.`user` u
            ON u.id = playerId
            LEFT JOIN asail.sp s
            ON s.id = u.spId
            <where>
                <if test="id!=null">
                    id = #{id}
                </if>
                <if test="playerId!=null and playerId!='' ">
                    AND playerId = #{playerId}
                </if>
                <if test="payCode!=null and payCode!='' ">
                    AND payCode = #{payCode}
                </if>
                <if test="state!=null and state!='' ">
                    AND state = #{state}
                </if>
                <if test="startTime!=null and startTime!=''">
                    AND createTime &gt;= #{startTime}
                </if>
                <if test="endTime!=null and endTime!=''">
                    AND createTime &lt;= #{endTime}
                </if>
                &lt;!&ndash; <if test="spId != null">
                    AND u.spId = #{spId}
                </if> &ndash;&gt;
                <if test="spId != null">
                    AND u.spId in
                    <foreach collection="spId" index="index" item="item" open="(" separator="," close=")">
                        #{item}
                    </foreach>
                </if>
            </where>

        </select>

        <select id="getPayOrder" parameterType="int" resultMap="payRecordResult">
            <include refid="select_payRecord_column"/>
            WHERE id = #{id}
        </select>

        <update id="updataPayRecord" parameterType="map">
            UPDATE pay_record
            SET state = 2 , changeManager = #{changeManager} , changeTime = NOW() , changeReason = #{reason}
            WHERE id = #{id}
        </update>

        &lt;!&ndash; 玩家充值排行榜查询 &ndash;&gt;
        <select id="selectPlayerPayOrder" parameterType="map" resultMap="payRecordResult">
            <include refid="select_payRecord_column"/>
            <where>
                <choose>
                    <when test="beginMoney != null and endMoney != null">
                        <choose>
                            <when test="beginMoney > endMoney">
                                and payMoney&lt;=#{beginMoney}
                                and payMoney&gt;=#{endMoney}
                            </when>
                            <otherwise>
                                and payMoney&gt;=#{beginMoney}
                                and payMoney&lt;=#{endMoney}
                            </otherwise>
                        </choose>
                    </when>
                    <otherwise>
                        <if test="beginMoney != null">
                            and payMoney&gt;=#{beginMoney}
                        </if>
                        <if test="endMoney != null">
                            and payMoney&lt;=#{endMoney}
                        </if>
                    </otherwise>
                </choose>
                <if test="beginTime != null">
                    and createTime&gt;#{beginTime}
                </if>
                <if test="endTime != null">
                    and createTime&lt;#{endTime}
                </if>
                and state=2
            </where>
            group by payMoney desc limit #{beginIndex},#{pageSize}
        </select>
        &lt;!&ndash; 玩家充值排行榜总记录数 &ndash;&gt;
        <select id="selectPlayerPayOrderTotalCount" parameterType="map" resultType="int">
            select count(*) from
            (select count(*)
            FROM pay_record p
            LEFT JOIN asail.`user` u
            ON u.id = playerId
            LEFT JOIN asail.sp s
            ON s.id = u.spId
            <where>
                <choose>
                    <when test="beginMoney != null and endMoney != null">
                        <choose>
                            <when test="beginMoney > endMoney">
                                and payMoney&lt;=#{beginMoney}
                                and payMoney&gt;=#{endMoney}
                            </when>
                            <otherwise>
                                and payMoney&gt;=#{beginMoney}
                                and payMoney&lt;=#{endMoney}
                            </otherwise>
                        </choose>
                    </when>
                    <otherwise>
                        <if test="beginMoney != null">
                            and payMoney&gt;=#{beginMoney}
                        </if>
                        <if test="endMoney != null">
                            and payMoney&lt;=#{endMoney}
                        </if>
                    </otherwise>
                </choose>
                <if test="beginTime != null">
                    and createTime&gt;#{beginTime}
                </if>
                <if test="endTime != null">
                    and createTime&lt;#{endTime}
                </if>
                and state=2
            </where>
            group by payMoney) a
        </select>-->
</mapper>