<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"
        "http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">
<mapper namespace="com.zyh5games.dao.UOrderDao">
    <resultMap type="UOrder" id="orderRecordResult">
        <result property="orderID" column="orderID"/>
        <result property="appID" column="appID"/>
        <result property="channelID" column="channelID"/>
        <result property="userID" column="userID"/>
        <result property="username" column="username"/>
        <result property="productID" column="productID"/>
        <result property="productName" column="productName"/>
        <result property="productDesc" column="productDesc"/>
        <result property="money" column="money"/>
        <result property="realMoney" column="realMoney"/>
        <result property="currency" column="currency"/>
        <result property="roleID" column="roleID"/>
        <result property="roleName" column="roleName"/>
        <result property="serverID" column="serverID"/>
        <result property="serverName" column="serverName"/>
        <result property="state" column="state"/>
        <result property="channelOrderID" column="channelOrderID"/>
        <result property="extension" column="extension"/>
        <result property="createdTime" column="createdTime"/>
        <result property="sdkOrderTime" column="sdkOrderTime"/>
        <result property="completeTime" column="completeTime"/>
        <result property="notifyUrl" column="notifyUrl"/>
        <result property="cpOrderId" column="cpOrderID"/>
    </resultMap>

    <sql id="select_payRecord_column">
        SELECT orderID,
               appID,
               channelID,
               channelOrderID,
               completeTime,
               createdTime,
               currency,
               extension,
               money,
               notifyUrl,
               productDesc,
               productID,
               productName,
               realMoney,
               roleID,
               roleName,
               sdkOrderTime,
               serverID,
               serverName,
               state,
               userID,
               username,
               cpOrderID
        FROM zy_order
    </sql>

    <select id="getUOrderList" parameterType="map" resultMap="orderRecordResult">
        <include refid="select_payRecord_column"/>
        <where>
            <if test="orderID !=null and orderID != ''and appId!='-1'">
                orderID = #{orderID}
            </if>
            <if test="appID!=null and appID!='' and appID!='-1'">
                AND appID = #{appID}
            </if>
            <if test="channelID!=null and channelID!='' and channelID!='-1'">
                AND channelID = #{channelID}
            </if>
            <if test="roleID!=null and roleID!='' and roleID!='-1'">
                AND roleID = #{roleID}
            </if>
            <if test="channelOrderID!=null and channelOrderID!='' and channelOrderID!='-1'">
                AND channelOrderID = #{channelOrderID}
            </if>
            <if test="state!=null and state!=-1">
                AND state = #{state}
            </if>
            <if test="startTime!=null and startTime!=''">
                AND createdTime >= #{startTime}
            </if>
            <if test="endTime!=null and endTime!=''">
                AND createdTime &lt;= #{endTime}
            </if>
            <if test="completeTime!=null and completeTime!=''">
                AND completeTime &lt;= #{completeTime}
            </if>
        </where>
        <if test="start!=null and size!=null">
            limit #{start},#{size}
        </if>
    </select>

    <!--   与 selectServers where 条件一致-->
    <select id="getTotalUorders" parameterType="map" resultType="Long">
        select count(*) from zy_order
        <where>
            <if test="orderID !=null and orderID != ''and appId!='-1'">
                orderID = #{orderID}
            </if>
            <if test="appID!=null and appID!='' and appID!='-1'">
                AND appID = #{appID}
            </if>
            <if test="channelID!=null and channelID!='' and channelID!='-1'">
                AND channelID = #{channelID}
            </if>
            <if test="roleID!=null and roleID!='' and roleID!='-1'">
                AND roleID = #{roleID}
            </if>
            <if test="channelOrderID!=null and channelOrderID!='' and channelOrderID!='-1'">
                AND channelOrderID = #{channelOrderID}
            </if>
            <if test="state!=null and state!=-1">
                AND state = #{state}
            </if>
            <if test="startTime!=null and startTime!=''">
                AND createdTime >= #{startTime}
            </if>
            <if test="endTime!=null and endTime!=''">
                AND createdTime &lt;= #{endTime}
            </if>
            <if test="completeTime!=null and completeTime!=''">
                AND completeTime &lt;= #{completeTime}
            </if>
        </where>
    </select>


    <insert id="save" parameterType="UOrder">
        insert into zy_order(orderID, appID, channelID, channelOrderID, completeTime, createdTime, currency, extension,
                             money, notifyUrl, productDesc, productID, productName, realMoney, roleID, roleName,
                             sdkOrderTime, serverID,
                             serverName, state, userID, username, cpOrderID)
        VALUES (#{orderID}, #{appID}, #{channelID}, #{channelOrderID}, #{completeTime,jdbcType=TIMESTAMP},
                #{createdTime,jdbcType=TIMESTAMP}, #{currency},
                #{extension},
                #{money}, #{notifyUrl}, #{productDesc}, #{productID}, #{productName}, #{realMoney}, #{roleID},
                #{roleName},
                #{sdkOrderTime,jdbcType=TIMESTAMP}, #{serverID},
                #{serverName}, #{state}, #{userID}, #{username}, #{cpOrderId})
    </insert>

    <select id="get" parameterType="map" resultMap="orderRecordResult">
        <include refid="select_payRecord_column"/>
        <where>
            <if test="appId!=null and appId!='' ">
                AND appID = #{appId}
            </if>
            <if test="channelID!=null and channelID!='' ">
                AND channelID = #{channelID}
            </if>
            <if test="channelOrderID!=null and channelOrderID!='' ">
                AND channelOrderID = #{channelOrderID}
            </if>

        </where>

    </select>

    <delete id="delete">

    </delete>

    <update id="update" parameterType="UOrder">
        update zy_order
        <set>
            <if test="realMoney!=null and realMoney!=''  ">
                realMoney=#{realMoney},
            </if>
            <if test="state!=null and state!=''  ">
                state=#{state},
            </if>
            <if test="completeTime!=null and completeTime!=''  ">
                completeTime=#{completeTime},
            </if>
        </set>
        where
        appID=#{appID}
        and channelID= #{channelID}
        and channelOrderID=#{channelOrderID}
    </update>

    <update id="updateCpOrder" parameterType="UOrder">
        update zy_order
        <set>
            <if test="realMoney!=null and realMoney!=''  ">
                realMoney=#{realMoney},
            </if>
            <if test="state!=null and state!=''  ">
                state=#{state},
            </if>
            <if test="completeTime!=null and completeTime!=''  ">
                completeTime=#{completeTime},
            </if>
            <if test="channelOrderID!=null and channelOrderID!='' ">
                channelOrderID = #{channelOrderID},
            </if>
            <if test="sdkOrderTime!=null and sdkOrderTime!='' ">
                sdkOrderTime = #{sdkOrderTime},
            </if>
            <if test="completeTime!=null and completeTime!=''  ">
                completeTime = #{completeTime}
            </if>
        </set>
        <where>
            appID=#{appID}
            and channelID= #{channelID}
            AND cpOrderID = #{cpOrderId}
        </where>
    </update>
    <select id="getOrderById" resultType="UOrder">
        <include refid="select_payRecord_column"/>
        where orderID=#{orderID}
    </select>

    <select id="getCpOrder" parameterType="map" resultMap="orderRecordResult">
        <include refid="select_payRecord_column"/>
        <where>
            <if test="appId!=null and appId!='' ">
                AND appID = #{appId}
            </if>
            <if test="channelID!=null and channelID!='' ">
                AND channelID = #{channelID}
            </if>
            <if test="cpOrderID!=null and cpOrderID!='' ">
                AND cpOrderID = #{cpOrderID}
            </if>

        </where>

    </select>
</mapper>
