<?xml version="1.0" encoding="utf-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans-4.0.xsd"
       default-lazy-init="false">

    <bean id="jedisPoolConfig" class="redis.clients.jedis.JedisPoolConfig">
        <property name="maxTotal" value="200"/>    <!--  资源池中最大连接数      -->
        <property name="maxIdle" value="200"/><!-- 最大闲置 -->
        <property name="minIdle" value="10"/><!-- 最小闲置 -->
        <property name="maxWaitMillis" value="2000"/><!-- 当资源池连接用尽后，调用者的最大等待时间(单位为毫秒)-->
        <property name="testOnBorrow" value="true"/><!-- 向资源池借用连接时是否做连接有效性检测(ping)，无效连接会被移除-->
        <property name="testOnReturn" value="false"/><!--向资源池归还连接时是否做连接有效性检测(ping)，无效连接会被移除-->
        <property name="jmxEnabled" value="true"/><!-- 是否开启jmx监控，可用于监控-->
        <property name="testWhileIdle" value="true"/><!-- 是否开启jmx监控，可用于监控-->
        <property name="timeBetweenEvictionRunsMillis" value="30000"/><!--   空闲资源的检测周期(单位为毫秒)     -->
        <property name="minEvictableIdleTimeMillis" value="60000"/><!--  资源池中资源最小空闲时间(单位为毫秒)，达到此值后空闲资源将被移除      -->
    </bean>

    <!-- redis 配置,也可以把配置挪到properties配置文件中,再读取 -->
    <!--    自用 阿里云 外网连接-->
    <bean id="jedisPool_Ali" class="redis.clients.jedis.JedisPool">
        <constructor-arg index="0" ref="jedisPoolConfig"/>
        <constructor-arg index="1" name="host" type="java.lang.String"
                         value="r-bp1a0bf9408e94c4pd.redis.rds.aliyuncs.com"/>
        <constructor-arg index="2" name="port" type="int" value="6379"/>
        <constructor-arg index="3" name="timeout" type="int" value="5000"/>
        <constructor-arg index="4" name="password" type="java.lang.String" value="ppB7xnDF6pQdZRZp"/>
    </bean>

    <!--    正式服 腾讯云 只能内网连接-->
    <bean id="jedisPool_Tencent" class="redis.clients.jedis.JedisPool">
        <constructor-arg index="0" ref="jedisPoolConfig"/>
        <constructor-arg index="1" name="host" type="java.lang.String" value="172.16.0.11"/>
        <constructor-arg index="2" name="port" type="int" value="6379"/>
        <constructor-arg index="3" name="timeout" type="int" value="5000"/>
        <constructor-arg index="4" name="password" type="java.lang.String" value="oURLPXI5qb5uNDPz"/>
    </bean>

    <!-- redis 的缓存 -->
    <bean id="jedisManager" class="com.ssm.promotion.core.jedis.jedisManager">
        <property name="jedisPool" ref="jedisPool_Ali"/>
        <!--                <property name="jedisPool" ref="jedisPool_Tencent"/>-->
    </bean>

    <!-- 全服概况 缓存实现，对ShiroCacheManager，我是采用redis的实现 -->
    <bean id="jedisRechargeCache" class="com.ssm.promotion.core.jedis.jedisRechargeCache">
        <property name="jedisManager" ref="jedisManager"/>
    </bean>
    <!-- sdk 缓存 -->
    <bean id="jedisSDKCache" class="com.ssm.promotion.core.jedis.jedisSDKCache">
        <property name="jedisManager" ref="jedisManager"/>
    </bean>

    <!--  数据库模板表读取 启动时初始化-->
    <bean id="templateWorker" class="com.ssm.promotion.core.sdk.TemplateWorker" init-method="init">

    </bean>
    <!--  随机id生成器-->
    <bean id="loginIdGenerator" class="com.ssm.promotion.core.sdk.LoginIdGenerator" init-method="init">
        <property name="datacenterId" value="1"/><!-- 渠道id -->
        <property name="workerId" value="1"/><!-- 区服 -->
    </bean>

    <bean id="accountWorker" class="com.ssm.promotion.core.sdk.AccountWorker" init-method="AccountWorker">

    </bean>


    <bean id="httpClientFactory" class="org.springframework.http.client.SimpleClientHttpRequestFactory">
        <property name="connectTimeout" value="1000"/>
        <property name="readTimeout" value="1000"/>
    </bean>

    <!--RestTemplate-->
    <bean id="restTemplate" class="org.springframework.web.client.RestTemplate">
        <constructor-arg ref="httpClientFactory"/>
    </bean>

    <bean id="channelLogin" class="com.ssm.promotion.core.sdk.ChannelLogin">

    </bean>
    <bean id="ChannelLib" class="com.ssm.promotion.core.sdk.ChannelLib">

    </bean>
</beans>
